.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
}


.skin-blue .main-header .logo {
          background-color: #000033;
        }
        .skin-blue .main-header .logo:hover {
          background-color: #000033;
        }
        
.skin-blue .main-header .navbar {
                                background-color: #000033;
                               
                                }        

                                /* main sidebar */
                                .skin-blue .main-sidebar {
                                background-color: #000033;
                                }
                                
 /* active selected tab in the sidebarmenu */
                                .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                                background-color: #000033;
                                }

                                /* other links in the sidebarmenu */
                                .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                                background-color:  #000033;
                                color: #ffffff;
                                }
                              /* #000066;
                                /*#3366FF;
                                /*#000033;
                                
                                /* other links in the sidebarmenu when hovered */
                                .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                                background-color:  #000033;
                                }
                                /* toggle button when hovered  */                    
                                .skin-blue .main-header .navbar .sidebar-toggle:hover{
                                background-color: #000066;
                                }
  
    
    
    .navbar{
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.nav-item{
  flex:1 1 20%;
  position:relative;
  background-color:black;
  padding:1em;
  color:white;
}

.nav-item:after{
  content:'>';
  font-size:14px;
  position:absolute;
  top:50%;
  right:1em;
  transform:translateY(-50%);
}

    
html,body{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* overriding bootstrap */
.container-fluid,
.navbar{
    width: 100%;
    padding: 0 !important;
    margin:0 !important;
}

/* layout css */
.landing-wrapper {}


.landing-wrapper .landing-block{
    width: 50%;
    height: 50vh;
}

.landing-wrapper .background-content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
    grid-row-columns: 0;
}

.landing-wrapper .background-content img{
    display: block;
    width: 100%;
}

.landing-wrapper .foreground-content{
    position: absolute;
    top: 10%;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.landing-wrapper .foreground-content .foreground-text{
    width: 50%;
    padding: 7.5%;
    color: black;
    opacity:0.5;
    background-color: white;
    text-align: center;
}

.landing-wrapper .foreground-content .foreground-text h1{font-size: 4.5rem;}
.landing-wrapper .foreground-content .foreground-text p{font-size: 2.5rem;}
  